* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    color: black;

}
#time{
    font-size: 10rem;
}

h1{
    margin-bottom:5rem;
}
h2{
    margin-bottom: 0.5rem;
    opacity: 0.6;
}